/* Default style */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover{
    color: yellow;
}


/* Header styles */
header{
	display: flex;
 	background: #0046c0;
 	justify-content: space-between;
    width: 100%;
    position: fixed;
    height: 100px;
    z-index: 3;
}
.header_left{
	display: flex;
	padding: 10px;
	padding-left: 20px;
}
.homebut{
	display: flex;
	background:	#0045c0;
	margin: 10px 20px 0px 20px;
}
.logo{
	height: 60px;
}
.header_right{
	display: flex;
	padding: 10px 10px 10px 10px; 
}
.searchbut{
	background:	#0045c0;
	margin: 0px 20px;
}
.basketbut{
	margin: 0px 20px;
	background:	#0045c0;
}
.qazrep{
	padding-left: 10px;
	font-family: 'Podkova', serif;
	font-size:40px;
	color: white;
}
.qazrep p{
    margin-top: 10px;
}


/*------content------*/
.content{
	padding: 40px;
    background-image:url("./img/bs.png");
    background-size: 3%;
    height: 780px;

}
.con{
    margin: 60px 5%;
    background-color: rgb(255, 255, 255);
    height: 720px;
}
#h1{
    color: #0046c0;
    font-family: 'Podkova',serif; 
    font-size: 400%;
    padding-top: 60px;
    text-align: center;
    
}
@media (max-width:870px) {
    #h1{
        font-size: 300%;
    }
}
@media (max-width:740px) {
    .qazrep{
        font-size:28px;
    }
    .qazrep p{
        margin-top: 10px;
    }
    .logo{
        height: 50px;
    }
    header{
        height: 80px;
    }
}
@media (max-width:650px) {
    #h1{
        font-size: 200%;
    }
    .logo{
        height: 40px;
    }
    .qazrep p{
        margin-top: 5px;
    }
    header{
        height: 80px;
    }
}
@media (max-width:605px) {
    .qazrep{
        display: none;
    }
    .logo{
        height: 50px;
    }
    header{
        height: 80px;
   
}}
@media (max-width:440px) {
    #h1{
        font-size: 100%;
    }
}
 